{% extends 'base.html.twig' %}

{% block title %}Edit Produits
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modifier Produits</h1>

		<div class="row bg-white p-3">

			{{form_start(form)}}
			{{form_row(form._token)}}
			{{form_errors(form)}}

			{{form_row(form.name)}}
			{% for image in produit.photos %}
				<div class="bg-warning p-3 mt-3">
					<div>
						<a href="{{ path('app_produits_supprimer_image', {id: produit.id, imageID: image.id}) }}" class="btn btn-danger">X</a>
					</div>
					<img src="{{ asset('uploads/images/' ~ image.name) }}" class="d-block w-25" alt="{{ produit.name }}">
				</div>
			{% endfor %}
			{{form_row(form.slug)}}
			{{form_row(form.Reference)}}
			{{form_row(form.categorie)}}

			{{form_row(form.description)}}
			{{form_row(form.distributeur)}}
			{{form_row(form.price)}}

			<hr>
			<button type="button" class="btn btn-info btn-ajouter" data-collection="#photos">
				Choisir une image
			</button>
			<div class="list-group" id="photos" data-index="{{ form.photos|length > 0 ? form.photos|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.photos.vars.prototype)|e('html_attr') }}"></div>
			<hr>

			<button type="submit" class="btn btn-success mt-3">Modifier le produit</button>
			<a class="btn btn-danger mt-3" href="{{ path('app_produits_index') }}">Retour a la liste</a>
			{{ include('produits/_delete_form.html.twig') }}
		</div>
		<script src="{{ asset('js/upload_images.js') }}"></script>
	</div>
{% endblock %}
