{% include "includes/alerts.html.twig" %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue !
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bootstrap.css') }}">
			<link rel="stylesheet" href="{{ asset('style.css') }}">
		{% endblock %}

		{% block javascripts %}{% endblock %}
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('app_home') }}">Mon Application</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						{% if not app.user %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
							</li>
							{% if is_granted('ROLE_ADMIN') %}
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_admin') }}">Administration</a>
								</li>
							{% endif %}
							<ul class="navbar-nav me-auto mb-2 mb-lg-0 right">
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_afficher_panier') }}">Panier</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_resume_commande') }}">Commandes</a>
								</li>
							</ul>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</head>
	<body>
		{% block body %}
			{% if app.user %}
				{% if not app.user.isVerified %}
					<div class="alert alert-warning" role="alert">
						Votre compte n'est pas encore validé. Veuillez vérifier votre boîte de réception et suivre les instructions pour activer votre compte.
					</div>
				{% else %}
					<div class="alert alert-success" role="alert">
						Super, votre compte est validé !
					</div>
				{% endif %}
			{% endif %}
		{% endblock %}
	</body>
</html>
